/* Section for about page */
.aboutSection
{
    display:flex;
    flex-direction:column;
    justify-content: end;
    flex-grow:1;
    gap:100px;
    align-items: center;
    padding-top:4%
}

/* Slogan text */
.aboutSlogan
{
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:80px;
    color:red;
    
}

/*Container for cards*/
.aboutContainer
{
    display:flex;
    
    background-color:#D9CBB0;
    
    /*Card container background. */
    width:100%;
    height:450px;
    align-items: center;
  
   
}

/* Mission text */


/* Making cards for 3 mission statements. */
.aboutCard
{   
    display:flex;
    flex-grow:1;
    flex-direction:column;
    align-items: center;
    margin:100px;
    flex-wrap:wrap;
    overflow:hidden;
    list-style: none;
    width:300px;
    min-height:150px;
    height:270px;
    background-color:beige;
    max-width:450px;
    padding:1.5% 1.5% 1.5% 1.5%;
    min-width:250px;
}

/* Titles for mission statement cards. */
.cardTitles
{
    color:red;
    font-weight:bold;
    font-size:25px;
    width:100%;
    padding-bottom:15%;
    font-family:century gothic;
}

/* Paragraphs for Statement cards. */
.cardContent
{
width:100%;
font-family:century gothic;

}

/* Mission statement text */

#Statement
{
    font-size:30px;
    font-family:century gothic;

}

/* For the Slogan and Mission */
