*
{
    margin:0;
    padding:0;
}

body
{
display:flex;
flex-direction: column;
width:100vw;
height:100vh;
background-color:#EAE9D1;
flex-wrap:nowrap;
}

section
{
display:flex;
flex:2;
flex-direction: column;
align-items:center;
flex-wrap:nowrap;
justify-content: center;
margin:0;
max-height:70vh;
overflow:hidden;
}


.sectionimg
{
    height: auto;
    width:80%; 
    max-width:1000px;
    max-height:50%;
}




#slogan
{

    font-size:2.2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin:0% 0% 1.5% 0%;
}



footer{

height:100px;
background-color:red;
margin-top:auto;
position:absolute;
bottom:0;
width:100%;


}

.gamesul
{
    display:flex;
    list-style: none;
    background-color:#EAE9D1;
    justify-content: center;
    width:80%;
 
}

.flins{
    width:100%;
    height:auto;
    object-fit:contain;
    max-width:500px;

}

.gamesul > li{
    
    height:auto;
    max-width:1000px;
}

